@font-face {
	font-family: Consolas;
	font-display: swap;
	src: url("../fonts/Consolas-Regular.woff2") format("woff2"),
		url("../fonts/Consolas-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Muller;
	font-display: swap;
	src: url("../fonts/Muller-Bold.woff2") format("woff2"),
		url("../fonts/Muller-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Muller;
	font-display: swap;
	src: url("../fonts/Muller-Regular.woff2") format("woff2"),
		url("../fonts/Muller-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Muller;
	font-display: swap;
	src: url("../fonts/Muller-Medium.woff2") format("woff2"),
		url("../fonts/Muller-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

