@font-face {
  font-family: Consolas;
  font-display: swap;
  src: url("../fonts/Consolas-Regular.woff2") format("woff2"), url("../fonts/Consolas-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Muller;
  font-display: swap;
  src: url("../fonts/Muller-Bold.woff2") format("woff2"), url("../fonts/Muller-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Muller;
  font-display: swap;
  src: url("../fonts/Muller-Regular.woff2") format("woff2"), url("../fonts/Muller-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Muller;
  font-display: swap;
  src: url("../fonts/Muller-Medium.woff2") format("woff2"), url("../fonts/Muller-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

*,
:after,
:before {
  font: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

:active,
:focus {
  outline: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

img {
  display: block;
  vertical-align: top;
}

button {
  cursor: pointer;
  background-color: inherit;
}

html,
body {
  font-family: Muller, Verdana, Tahoma, Helvetica, sans-serif;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: -o-radial-gradient(0% 0%, circle, #373b52, #252736 50%, #1d1e26);
  background-image: radial-gradient(circle at 0% 0%, #373b52, #252736 50%, #1d1e26);
  overflow-x: hidden;
}

h1 {
  font-size: 30px;
  color: #fff;
}

.page {
  padding: 0 20px;
}

.page__title {
  font-weight: 600;
  margin-bottom: 16px;
  letter-spacing: 0.04rem;
}

.inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}

.input {
  font-size: 18px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 319px;
  color: #7881A1;
}

.input span {
  margin-bottom: 6px;
}

.text-area {
  font-family: Consolas, sans-serif;
  font-size: 18px;
  height: 180px;
  padding: 10px;
  resize: none;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  color: #bfd2ff;
  border-radius: 6px;
  background-color: rgba(57, 63, 84, 0.8);
}

.text-area:focus {
  background-color: rgba(65, 72, 96, 0.8);
}

.text-area::-webkit-scrollbar {
  width: 8px;
}

.text-area::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: rgba(78, 86, 114, 0.8);
}

.text-area_output {
  overflow: hidden;
  height: 60px;
  vertical-align: center;
}